<div class="jumbotron">
    <div class="container">
        <h1 class="intro sg-text-bit sg-text-bit--xlarge"><div include-html="data/header.txt"></div></div></h1>
        <h2 class="text-center plant-tree sg-text sg-text-bit sg-text-bit--small sg-text-bit--white">100 Answers = 1
            Tree Planted</h2>
        <p class="text-center sg-text description"> Join our community's effort into saving the environment! With
            this
            initiative, Brainly will plant one tree for every 100 questions you answer from this page. So join us in
            our
            own little way in helping Mother Earth!</p>
        <div class="text-center">
            <button class="cta-button sg-button sg-button--primary-mint docs-button-hovered--primary-mint"><span
                    class="sg-button__text"><a class="jump" href="#subject-area">Start
                        Answering!</a></span></button>
        </div>
    </div>
</div>
<!--how does it work-->
<div class="container">
    <h1 class="sg-text sg-text-bit sg-text-bit--medium how-it-works">How does it work?</h1>
    <div class="row tutorial-cards">
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="text-center sg-text sg-text-bit sg-text-bit--small sg-text-bit--black">1. Simply
                        answer questions from this page
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="sg-text sg-text-bit sg-text-bit--small sg-text-bit--black text-center">2. Use
                        #AnswerForTrees hashtag in your answers
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="sg-box sg-box--no-border sg-box--no-min-height sg-box--with-shadow card">
                <div class="sg-box__hole">
                    <p class="sg-text sg-text-bit sg-text-bit--small sg-text-bit--black text-center">3.Spread the
                        word! More answers = More Trees</p>

                </div>
            </div>
        </div>
        <button class="share-button sg-button sg-button--primary-blue"><span class="sg-button__text"><a
                    href="https://www.facebook.com/sharer/sharer.php?u=https://blog.brainly.ph/trees"
                    target="_blank">Share on
                    Facebook</a></span></button>



    </div>
</div>
</div>