<div class="data">
    <div class="sg-box sg-box--no-border sg-box--full sg-box--no-min-height sg-box--with-shadow">
        <div class="sg-box__hole"><img src="img\tree.png" height="100px" alt="">
            <div class="stats">
                <h1 class="sg-text sg-text-bit sg-text-bit--medium">Important Reminder. PLEASE READ</h1>
                <p class="sg-text">Please only answer on this feed. If you answer questions outside this
                    feed, your answers will not be counted</p>

            </div>
        </div>
    </div>
</div>